<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="test_automation" verbose="1" >
    <test name="selenium_grid" parallel="classes">
        <classes>
            <class name="selenium_grid.SeleniumGrid_Test1"/>
            <class name="selenium_grid.SeleniumGrid_Test2"/>
            <class name="selenium_grid.SeleniumGrid_Test3"/>
        </classes>
    </test>
</suite>